* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #029df2;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner ul {
    width: 1400px;
    list-style-type: none;
}

.banner li {
    float: left;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* 更改图片的大小 */

img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}


/* 确定盒子的大小 */

.box {
    position: relative;
    width: 1000px;
    height: 300px;
    /* 居中 */
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.imgs {
    position: absolute;
    width: 850px;
    height: 350px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}


/* 让图片都叠在一起 */

.imgs li {
    position: absolute;
    width: 850px;
    transition: 0.4s;
}


/* 给左右按钮设计样式，和定位 */

.box .left {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: black;
    border-radius: 18px;
    /* 添加半透明 */
    opacity: .3;
    top: 50%;
    left: 0;
    z-index: 999;
}

.box .right {
    position: absolute;
    font-size: 24px;
    color: white;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: black;
    border-radius: 18px;
    /* 添加半透明 */
    opacity: .3;
    top: 50%;
    right: 0;
    z-index: 999;
}


/* 给左右按钮添加鼠标移入样式 */

.left:hover {
    /* 把透明度挑高一点，让按钮看起来更亮一些 */
    opacity: .7;
}

.right:hover {
    opacity: .7;
}


/* 把图片错开 */

.imgs .one {
    transform: translateX(-150px) scale(0.9);
    z-index: 1;
}


/* 第二张图片在中间，层级最高 */

.imgs .two {
    z-index: 2;
}

.imgs .three {
    transform: translateX(150px) scale(0.9);
    z-index: 1;
}

.imgs .four {
    transform: scale(0.9);
}

.imgs .five {
    transform: scale(0.9);
}

.imgs .six {
    transform: scale(0.9);
}


/* 设计小圆圈 */


/* 定位 */

.list {
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -81px;
    z-index: 777;
}


/* 设计样式 */

.list li {
    float: left;
    width: 15px;
    height: 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    margin: 0 12px;
    cursor: pointer;
}


/* 小圆圈改变后的样式 */

.list .change {
    background-color: rgb(236, 65, 65);
}


/* 左右两边各一个盒子 */

.rights {
    position: absolute;
    right: 0;
    bottom: 30px;
    height: 255.5px;
    width: 100px;
}

.lefts {
    position: absolute;
    left: 0;
    bottom: 14px;
    height: 255.5px;
    width: 100px;
}

.welcome {
    width: 60%;
    margin: 30px auto;
}

h1 {
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

h1 span {
    border-bottom: #029df2 5px solid;
}

section p {
    font-size: 14px;
    color: #029df2;
    text-align: center;
}

article {
    width: 100%;
    margin: 80px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.welcome .part {
    width: 20%;
    float: left;
    text-align: center;
}

.welcome .part p,
h2 {
    padding: 20px;
}

.welcome .part div {
    color: #666666;
    font-size: 18px;
}

.welcome .part h2 {
    font-size: 25px;
}

.scenery {
    width: 100%;
}

.scenery p {
    font-size: 14px;
    color: #8f8585;
    text-align: center;
}

.scenery article {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

article .part1 {
    width: 553px;
    position: relative;
}

article .part2 {
    width: 50%;
}

.part2 ul {
    width: 600px;
    padding-left: 20px;
    margin-left: 40px;
    position: relative;
}

.part2 li {
    line-height: 40px;
    border-top: #666666 1px dotted;
}

.part2 a {
    color: #666666;
    text-decoration: none;
}

.part2 ul li:last-child {
    border-bottom: #666666 1px dotted;
}

.part2 li small {
    position: absolute;
    right: 20px;
}

.pet {
    width: 100%;
}

.pet p {
    font-size: 14px;
    color: #8f8585;
    text-align: center;
}

.pet img {
    float: right;
}

.pet item {
    border: 1px solid black;
}

.img-div {
    width: 30%;
    float: left;
}

.item-img {
    width: 50%;
}

.caption {
    float: left;
    width: 59%;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 30px 0 0 30px;
}